<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>left</title>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/controller.js"></script>
    <script src="../../css/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../../css/style.css">

    <style>
        li{ margin-top:10px;}
    </style>
</head>
<body style="background: #90bdb5">
<ul style="margin: 20px; list-style: none; padding: 0px;">
    <li><a target="right" href="../user.html" class="list-group-item active small text-center" onclick="setHead_jk()">在线用户</a></li>
    <li><a target="right" href="../imsg.html" class="list-group-item active small text-center">接口报文</a></li>
    <!--<li><a target="right" href="#" class="list-group-item active small text-center">其他</a></li>-->
</ul>

</body>
</html>