<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>top</title>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/controller.js"></script>
    <script src="../../css/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../../css/style.css">

</head>
<body  >
<div class="top-div-center" >
    <p  class="titlep" id="title-p">EAM资产管理信息系统</p>
</div>

<!--<h5><span id="login_name"></span> 欢迎你的使用</h5>-->

<script>
/*$(document).ready(function (){
$.ajax({
    type:"post",
    url:"http://localhost:8081/user/getLoginUsernew",
    data:null,
    dataType:"json",
    success:function (data) {
        debugger;
        if(data.statusCode==200){
            debugger;
            $("#login_name").text(data);
        }
        else{
            //重新登录  跳出框架
            window.parent.location.href="../user/login.html";
        }
    },
    error:function () {
        alert("error")
        //window.parent.location.href="../user/login.html";
    }
})

});*/
</script>
</body>
</html>