<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统枚举</title>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/view-controller/xtenum-controller.js"></script>
    <link rel="stylesheet" href="../css/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../css/view-css/xtenum-style.css">
</head>
<script>
</script>

<body class="body-bg">
<div class="container">
    <div class="text-center row">
        <h3 class="p-h3">系统枚举</h3>
        <br>
    </div>

    <div class="form-group">
        <div class="form-group col-lg-2">
            <input type="text" class="form-control" id="enumlxid" placeholder="枚举类型ID">
        </div>
        <div class="form-group col-lg-2 ">
            <input type="email" class="form-control" id="enumlxmc" placeholder="枚举类型">
        </div>
        <div class="form-group col-lg-2">
            <input type="text" class="form-control" id="enumvalue" placeholder="枚举值">
        </div>
        <div class="form-group col-lg-2">
            <button  class="btn btn-primary" onclick="qry_enum()">查询</button> &nbsp;&nbsp;&nbsp;&nbsp;
            <button  class="btn btn-warning" onclick="reset_enum()">重置</button>
        </div>
    </div>


    <div class="col-lg-12">
        <p class=" p-size ">查询结果</p>
    </div>

    <div class="col-lg-12">
        <div>
            <table class="table table-bordered text-center" style="word-break:break-all;" id="user-tab">
                <thead class="tab  label-success ">
                <tr class="tab-h">
                    <td>序号</td>
                    <td>枚举类型</td>
                    <td>枚举类型ID</td>
                    <td>枚举值</td>
                    <td>枚举值ID</td>
                </tr>
                </thead>
                <tbody class="nr-auto">

                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>